.logo-brand {
  position: absolute;
  left: 50%;
  transform: translate(-15%);
}

.avatar-img {
  max-width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.underline-nav {
  border-bottom: 2px solid #e8e9ea;
}

.icon-sidebar {
  width: 20px;
  height: 20px;
}
.nav-link {
  font-family: "Open Sans";
}
.w-365 {
  max-width: 365px !important;
}

.relojito {
  position: absolute;
  top: 22px;
  left: -8px;
}
